# Ignore packages directory except submodules
packages/*
!packages/nvdiffrast
!packages/nvdiffrec
!packages/fashion-clip
!packages/nvdiffmodeling
!packages/fashion_clip
scripts/configs
assests/
runs/
scripts/models/core/tiny-cuda-nn
__pycache__
*.pyc
